:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.banner {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-bottom: 25px;
}

.popout-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.popout-button:hover {
  background-color: lightgray;
}

.popout-icon {
  font-size: 24px;
}

.popout-window {
  position: fixed;
  height: 80%;
  width: 250px;
  margin-top: 85px;
  background-color: lightgrey;
}

.category-container{
  width: 100%;
  height: 50px;
  display: inline-flex;
}

.category-button {
  text-align: center;
  width: 80%;
  height: 50px;
  font-size: 25px;
}

.category-remove-btn {
  width: 20%;
  height: 50px;
}

.category-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

/* create category-input */

.title {
  
  position: fixed;
  height: 50px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 18px;
}

.search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.search-icon {
  font-size: 18px;
}

/* .searchbar-container {
  position: fixed;
} */

.searchbar {
  margin-top: 10px; 
}

.back-button {
  width: 100%;
  height: 25px;
  margin-top: 20px;
  border-radius: 12px;
  outline: 1px auto;
}

.back-button:active {
  background-color: darkgrey;
}

.add-todo-btn {
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  border: none;
  border-radius: 24px;
  font-size: 1.5rem;
}

.add-todo-btn:active {
  background-color: blue;
}

hr {
  background-color: lightgray;
  border-radius: 24px;
}

.todo-body {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  background-color: lightgray;
}

.checkbox {
  font-size: 25px;
  color: black;
}

.checkbox-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.delete-icon {
  font-size: 25px;
  color: black;
}

.delete-icon:hover {
  color: white;
}

.delete-icon:active {
  color: black;
}

.form-section {
  width: 100%;
  height: 125px;
}

.input-text-box {
  width: 99%;
  height: 25px;
  margin-top: 20px;
  border-radius: 12px;
  outline: 1px auto;
}

.submit-todo-btn {
  width: 100%;
  height: 25px;
  margin-top: 20px;
  border-radius: 12px;
  outline: 1px auto;
}

.submit-todo-btn:active {
  background-color: darkgrey
}
